image: docker:stable

services:
  - docker:dind  

stages:
  - release

release:
  before_script:
    - docker login -u $DOCKERHUB_REGISTRYUSER -p $DOCKERHUB_REGISTRYPASSWORD
  stage: release
  script:
    - docker build --tag $DOCKERHUB_CONTAINERIMAGE:$CI_COMMIT_TAG .
    - docker push $DOCKERHUB_CONTAINERIMAGE:$CI_COMMIT_TAG
  only:
    - tags    
